@import "./variables/global";
@import "reset";
@import "./themes/normal";
@import "./themes/dark";

#root {
  font: var(--font-m);
  color: var(--primary-color);
}

.app {
  background: var(--bg-color);
  min-height: 100vh;
}

.content-page {
  display: flex;
}

*::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-background);
  border-radius: 20px;       /* roundness of the scroll thumb */
}
