.item {
  display: flex;
  align-items: center;
  padding: 10px 12px;
  border-radius: var(--radius-4);
  width: 100%;
}

.link {
  opacity: 1;
  transition: 1s opacity ease-in-out, .1s width ease-in-out;
  width: 100%;
  margin-left: 12px;
  white-space: nowrap;
}

.icon {
  fill: var(--primary-color);
  min-width: 20px;
}

.collapsed {
  .link {
    opacity: 0;
    transition: .1s all;
    width: 0;
    margin-left: 0;
    pointer-events: none;
  }
}