.appNavLink {
    color: var(--primary-color);
}

.active {
    background-color: var(--hover-bg-color);
}

.primary {
    color: var(--primary-color);
}

.secondary {
    color: var(--inverted-primary-color);
}
