@import '../styles/mixins';

.listBox {
  position: relative;

  &.readonly {
    opacity: .7;
  }
}

.trigger {
  @include reset-trigger;
}

.options {
  @include dropdown-items;
}

.option {
  border-radius: var(--radius-8);
  padding: 8px 12px;
  cursor: pointer;
}

.disabled {
  cursor: default;
  background-color: var(--scrollbar-background);
}

.active {
  background-color: var(--hover-bg-color);
}

.selected {
  background-color: var(--option-bg);
}

.label {
  &.readonly {
    opacity: .7;
  }
}