.recommendationsTitle {
  margin-bottom: 16px;
}

.recommendationsList {
  flex-wrap: nowrap;
  overflow-y: hidden;
  overflow-x: auto;
  display: flex !important;
  gap: 50px;
  padding-bottom: 12px;
}