.drawer {
  position: fixed;
  inset: 0;
  opacity: 0;
  pointer-events: none;
  display: flex;
  align-items: flex-end;
  transition: .3s opacity ease-in-out;
}

.content {
  height: 70%;
  background-color: var(--bg-color);
  bottom: 0;
  border-radius: 12px 12px 0 0;
  position: relative;
  width: 100%;
  min-height: 100px;
  padding: 20px;
  transition: 0.3s transform ease-in-out;
  transform: translateY(100%);
  overflow-y: auto;
  overflow-x: hidden;
  box-shadow: var(--drawer-shadow);
  margin: 0 8px;
}

.opened {
  pointer-events: auto;
  opacity: 1;
  z-index: var(--modal-z-index);

  .content {
    transform: translateY(0%);
  }
}

.sheet {
  z-index: var(--modal-z-index);
  position: fixed;
  left: 2vw;
  height: calc(100vh + 100px);
  width: 96vw;
  border-radius: 12px 12px 0;
  background: var(--bg-color);
  touch-action: none;
  padding: 15px;
}
