.app_dark_theme {
  --bg-color: #171616;
  --light-bg-color: #1d1d1e;
  --hover-bg-color: #3b3b3f;
  --primary-color: #e8e9ef;
  --inverted-bg-color: #e3e3e8;
  --secondary-color: #d6d6dc;
  --inverted-primary-color: #090808;
  --inverted-secondary-color: #326acc;
  --shadow-color: rgb(0 0 0 / 54%);

  // skeleton
  --skeleton-shadow: #3b3b3f; // #49484b;
  --skeleton-color: #2e2d2f;

  // code
  --code-bg: #202021;

  // comment
  --comment-border: #3b3b3f;

  // card
  --card-bg: rgb(32 32 33 / 100%);
  --card-bg-hover: var(--hover-bg-color);

  // scrollbar
  --scrollbar-background: #5b5858;
}
