.app.dark {
  --bg-color: #0c0c69;
  --inverted-bg-color: #e8e8ea;

  --primary-color: #11ea11;
  --secondary-color: #0b5e0b;
  --inverted-primary-color: #062473;
  --inverted-secondary-color: #326acc;
}