.app_dark_theme {
    --bg-color: #171616;
    --light-bg-color: #202021;
    --hover-bg-color: #3b3b3f;
    --primary-color: #e8e9ef;
    --inverted-bg-color: #e3e3e8;
    --secondary-color: #8564cc;
    --inverted-primary-color: #dfe4ea;
    --inverted-secondary-color: #326acc;
    --shadow-color: rgb(0 0 0 / 54%);
}
