:root {
  --bg-color: #edeef0;
  --primary-color: #000;
  --light-bg-color: #fff;
  --inverted-bg-color: #504d54;
  --secondary-color: #39393b;
  --inverted-primary-color: #dbdbe7;
  --inverted-secondary-color: #098107;
  --hover-bg-color: #f0f2f5;
  --shadow-color: rgb(53 57 60 / 20%);
  --shadow: 0 2px 10px 0 var(--skeleton-shadow);
  --drawer-shadow: 0 3px 10px 6px var(--skeleton-shadow);

  // skeleton
  --skeleton-shadow: #8f8b9b;
  --skeleton-color: #d9d9dc;

  // code
  --code-bg: #e8e8ea;

  // comment
  --comment-border: #918896;

  // card
  --card-bg: #fff;
  --card-bg-hover: rgb(190 190 192 / 50%);

  // scrollbar
  --scrollbar-background: rgb(138 137 137 / 100%);

  // option
  --option-bg: #fff;
}