.app.light {
  --bg-color: #e8e8ea;
  --inverted-bg-color: #0c0c69;

  --primary-color: #062473;
  --secondary-color: #5482d3;
  --inverted-primary-color: #0ec20e;
  --inverted-secondary-color: #098107;
}