:root {
    --bg-color: #d1d3dc;
    --primary-color: #3a3a3d;
    --light-bg-color: #e8e8ea;
    --inverted-bg-color: #504d54;
    --secondary-color: #5482d3;
    --inverted-primary-color: #dbdbe7;
    --inverted-secondary-color: #098107;
    --hover-bg-color: rgb(184 184 227);
    --shadow-color: rgb(53 57 60 / 20%);

    // skeleton
    --skeleton-shadow: #8f8b9b;
    --skeleton-color: #e5e5e8;
}