.navbar {
    width: 100%;
    height: var(--navbar-height);
    background: var(--light-bg-color);
    display: flex;
    align-items: center;
    padding: 20px;

    // box-shadow: 0 5px 5px -1px var(--shadow-color);
    position: relative;
    z-index: 1;
}

.navbarControls {
    margin-left: auto;
    display: flex;
    gap: 32px;
    align-items: center;
}

.links {
    margin-left: auto;
    display: flex;
    gap: 32px;
    align-items: center;
}
