.notificationLink {
  border: 2px solid var(--notification-border);
  border-radius: var(--radius-8);

  &:hover {
    background-color: var(--hover-bg-color);
  }
}

.isLink {
  &:hover {
    background-color: var(--hover-bg-color);
  }
}