.themeSwitcher {
    display: flex;
    align-items: center;
}

.short {
    .themeIcon {
        width: 0;
        opacity: 0;
        transition: all .1s ease-in-out;
    }

    .themeName {
        width: 0;
        opacity: 0;
        transition: all .1s ease-in-out;
    }
}
