.profileCard {
  padding: 20px;
  border: 1px solid var(--inverted-bg-color);
}

.avatarWrapper {
  display: flex;
  justify-content: center;
  width: 100%;
}

.data {
  .input {
    margin-bottom: 8px;
  }
}

.loader {
  display: flex;
  align-items: center;
  justify-content: center;
}

.error {
  display: flex;
  align-items: center;
  justify-content: center;
}