.profileCard {
    padding: 20px;
    border: 1px solid var(--inverted-bg-color);
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
}