@mixin dropdown-items {
  background-color: var(--light-bg-color);
  padding: 12px 8px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-start;
  position: absolute;
  z-index: var(--dropdown-z-index);
  list-style: none;
  border-radius: 12px;
  box-shadow: var(--shadow);
}

@mixin reset-trigger {
  border: none;
  background: none;
  outline: none;
  padding: 0;
  margin-top: 0;
}