.appLink {
  color: var(--primary-color);
}

.primary {
  color: var(--primary-color);
}

.secondary {
  color: var(--inverted-primary-color);
}

.outline {
  border: 1px solid var(--primary-color);
  padding: 5px 15px;
  border-radius: var(--radius-s);
}
